<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="4.1.1" targetFramework="net452" />
  <package id="Gmg.DSOFile" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net452" />
</packages>